
body {
    background-image:url("https://i.imgur.com/8TCeVcT.png");
    background-color:#f5f4f4;
}
.nav-top__2020 {
    background-color: transparent !important;
    background-image: url("https://imagizer.imageshack.com/v2/1582x890q90/r/923/4sAEI7.png") !important;
    background-size: 100%;
    background-position-y: 45%;
      border-bottom: 3px solid #a3d2ca;
}
.nav-text__2020 {
  text-shadow: 0px 0px 5px white, 0 0 3px white;
}
.nav-top-pattern__2020 {
    display: none;
}
.nav-bottom__2020 {
  background-color: transparent;
    background:#fed123;
    border-top: 3px solid #a3d2ca;
}
.nav-bottom-pattern__2020 {
    display: none;
}
.nav-text__2020,.nav-text-bottom__2020 {
    color: #1a3b35;
    font-family: "Cafeteria", 'Arial Bold', sans-serif;
    text-align:center;
}

/*PROFILE MENU DROPDOWN*/
.dropdown-triangle-up__2020 {
    border-bottom:13px solid #a3d2ca; 
}
.nav-profile-dropdown__2020 {
    background:#a3d2ca;
}
.nav-profile-dropdown__2020::-webkit-scrollbar, .news-tab-content__2020::-webkit-scrollbar, .alerts-tab-content__2020::-webkit-scrollbar {
  display: none !important;
}
.nav-profile-pet-box-lg__2020, .nav-profile-pet-sm__2020, .nav-pet-menu-icon__2020 {
    background-color:#a3d2ca;
}
.nav-profile-pet-box-lg__2020 {
  border-radius: 3px;
  overflow: hidden
}
.nav-profile-pet-box-sm__2020 {
    border:2px solid #a3d2ca;
    -webkit-box-shadow: 0px 0px 0px 0px;
}
#navProfilePetExpandIcon__2020 {
    background-color:#a3d2ca;
}
.nav-calendar-icon__2020 {
  display: inline;
  margin-left: 40px;
  margin-right: -60px;
}
.nav-profile-dropdown-text {
    font-family: "Lato", 'Arial', sans-serif;
    letter-spacing: 1px;
    color:#235048;
    font-size:11pt;
    text-align: center;
    margin-left: -20px;
}
.nav-profile-dropdown-text a {
    color:#fff;
}
.nav-profile-dropdown__2020 ul li {
    color: #235048;
    font-family: "Cafeteria", 'Arial Bold', sans-serif;
    font-size:18pt;
}
.nav-profile-dropdown__2020 ul a {
    color: #235048;
}

/* News Dropdown Styling */
#navnewsdropdown__2020 {
    background:#88beb5;
}
.news-tab-content__2020,.alerts-tab-content__2020,.tabActive__2020,.news-tab-viewall__2020,.alerts-tab-viewall__2020 {
    background:#a3d2ca;
}
.news-tab-content__2020,.alerts-tab-content__2020 {
  font-family: Calibri;
  line-height: 20px;
  padding: 10px;
}
#newstab__2020 ul li p {
  font-size: 15px;
}
.news-dropdown-text__2020 {
    color: #235048;
    font-family: "Cafeteria", 'Arial Bold', sans-serif;
    font-size:18pt;
}
.news-tab-icon__2020 {
    background:#767676;
}
#alerts-notif__2020,#news-notif__2020 {
    color:#fff;
    background:#E1191D;
}
.nf-img__2020 {
  border-radius: 5px !important;
}
#newstab__2020 ul li {
padding-bottom: 20px;
    border-bottom: 1px solid #88beb5;
    font-fize: 10px;
}
#newstab__2020 ul li h4 {
    color:#1a3b35;
}
#newstab__2020 ul li a, #newstab__2020 ul li a:visited {
  color: #ffffff;
  font-size: 14px;
}
/* Alerts dropdown styling */
#alertstab__2020 ul li {
    border-top: 0px solid #BFB89E;
    border-left: 0px solid #BFB89E;
    border-right: 0px solid #BFB89E;
    border-bottom: 1px solid #407c72;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(191,184,158,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(191,184,158,1);
    box-shadow: 0px 0px 0px 0px rgba(191,184,158,1);
}

/* Neofriends Notification */
.nav-neofriends-dot__2020 {
    color:#fff;
    font-family: "MuseoSansRounded700", 'Arial Bold', sans-serif;
    background:#1AB41F;
}

/* FOOTER */
.footer__2020 {
      background-color: transparent !important;
    background-image: url("https://imagizer.imageshack.com/v2/1582x890q90/r/923/4sAEI7.png") !important;
    background-position-y: 60%;
      border-top: 3px solid #a3d2ca;
    text-shadow: 0px 0px 5px white;
}
.footer-pattern__2020 {
      display: none;
}

/* Some Default styling for popups. Can/should be overridden on a case by case basis. */
.popup-header__2020 { 
    position:relative;
    text-align:center;
    font-family: "Cafeteria", 'Arial Bold', sans-serif;
    padding:10px 0;
    border-radius: 15px 15px 0 0;
    background:#a3d2ca;
    z-index:0; /* Ensures that pattern within this div will appear in front of background but behind other interior elements. */
}
.popup-header__2020 h3 {
    color: #363636;
    font-size:20pt;
    max-width:90%;
    margin: 0 auto;
}
.popup-header-pattern__2020,.popup-footer-pattern__2020 {
    display: none;
}
.popup-body__2020 {
    position:relative;
    overflow:auto;
    background:#fff;
    text-align:center;
    font-family: "MuseoSansRounded500", 'Arial', sans-serif;
    padding:20px 0;
    /* max-height: calc(70vh - 60px); */
}
.popup-footer__2020 {
    position:relative;
    border-radius: 0 0 15px 15px;
    background:#a3d2ca;
    padding:10px;
    z-index:0; /* Ensures that pattern within this div will appear in front of background but behind other interior elements. */
}

/* Community Dropdown */

#communitydropdown__2020, #communitydropdownbottom__2020, #shopdropdown__2020, #shopdropdownbottom__2020 {
    background-color:#a3d2ca;
    color:#363636;
    border:2px solid #a3d2ca;
}
#communitydropdown__2020 ul li, #communitydropdownbottom__2020 ul li, #shopdropdown__2020 ul li, #shopdropdownbottom__2020 ul li, #communitydropdown__2020 .neofriendsOnline, #communitydropdownbottom__2020 .neofriendsOnline, .nav-profile-dropdown__2020 ul li, .nav-profile-dropdown-clock__2020 {
    border: none;
}
.profile-dropdown-subsection {
  background-color:#a3d2ca
}
#communitydropdown__2020 ul li:hover, #communitydropdownbottom__2020 ul li:hover, #shopdropdown__2020 ul li:hover, #shopdropdownbottom__2020 ul li:hover, .nav-profile-dropdown__2020 ul li:hover, .profile-dropdown-subsection:hover {
    background-color:#7ccabd;
    transition: .3s;
}
#communitydropdown__2020 a:visited, #communitydropdownbottom__2020 a:visited, #communitydropdown__2020 a, #communitydropdownbottom__2020 a, #shopdropdown__2020 a:visited, #shopdropdownbottom__2020 a:visited, #shopdropdown__2020 a, #shopdropdownbottom__2020 a {
    color:#235048;
}
#shopdropdown__2020 h3, #shopdropdownbottom__2020 h3 {
    color:#235048;
}
#shopdropdown__2020 .shopdropdown-tabs, #shopdropdownbottom__2020 .shopdropdown-tabs {
    background-color:#8abab2;
}
#shopdropdown__2020 .shopdropdown-tab-active, #shopdropdownbottom__2020 .shopdropdown-tab-active {
    color:#235048;
    background-color:#a3d2ca;
}
.communitydropdown-social {
  display: none;
}
.community-dropdown-text  h4, #shopdropdown__2020 h4 {
  font-family: Cafeteria;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 300;
}
.neofriendsOnline {
  overflow: hidden !important;
}
.neofriendsOnline:hover {
  overflow-x: auto;
}
/* Boards */
#boardIndex, #boardList, #boardTopic {
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  border: none;
}
#boardCreateTopic {
   border-radius: 15px;
   border: none;
   background-color: white;
 }
#boardList ul .pageNav .boardPageButton, #boardTopic .pageNav .boardPageButton {
  color: #407c72;
}
#boardList ul .pageNav .boardPageButton-active, #boardTopic .pageNav .boardPageButton-active {
  background-color: #7c9f99;
}
.topicReplyContainer table, #boardCreateTopic table {
    border: 0px !important;
    font-family: verdana;
    font-size: 10px;
    text-transform: lowercase;
}
.postAuthorPetIcon img {
  border: 0px !important;
  border-radius: 3px;
}
div.replyTopicButton-top {
  background-color: #7ccabd;
  border: 0px;
  padding-bottom: 10px;
}
div.replyTopicButton-top:hover {
  color: white;
  background-color: #63c0b1;
}
div.topicReplyTitle, #boardCreateTopic h1 {
  background-color: #a3d2ca
}
div a span {
  font-family: Calibri;
  font-size: 15px;
}
input.topicReplySubmit, .topicCreateSubmit {
  background-color: #7ccabd;
  border: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;

}
input.topicReplySubmit:hover, .topicCreateSubmit:hover {
  background-color: #63c0b1;
  color: white;
}
.createTopicButton a {
  background-color: #7ccabd;
  border: 0px;
  padding-bottom: 10px;
}
.createTopicButton a:hover {
  background-color: #63c0b1;
  color: white;
}
#boardIndex ul h3 {
  background-color: #79afa6;
}
.reportButton-neoboards { 
  border: 0px !important;
  text-transform: uppercase;
  font-size: 9px !important;
  color: #999 !important;
  width: 50px;
  height: 20px;
  margin-bottom: 0px;
  overflow: hidden; 
}
.reportButton-neoboards:hover {
  background-color: transparent !important;
  color: #585858 !important; 
}
div.boardPost {
  position: relative;
}
.reportButton-neoboards { 
  position:absolute;
  bottom: 0px;
  right: 0px;
}
.neoBoardPenTitle {
  display: none;
}
.neoboardPens {
  margin-top: -10px;
  font-size: 13px;
  text-transform: lowercase;
  max-width: 600px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.boardDesc h4, .breadcrumbs a, .breadcrumbs a:visited, .postAuthorName, .postPetInfo h4 a {
  color: #638f88;
}
.boardTopicTitle {
  color: #235048;
}
.boardPageButton:hover {
  background-color: #7c9f99;
  border: 1px solid #7c9f99;
  color: white !important;
}

/* homepage */
.hp-bg-top__2020 {
    height: 40%;
    background-image: url(https://imagizer.imageshack.com/v2/1582x890q90/r/923/4sAEI7.png);
    overflow: hidden;
    background-size: 100% ;
    background-position-y: 30%;
}
.hp-bg-obj__2020 {
  display: none;
}
